numpy
pandas
streamlit
matplotlib
streamlit-drawable-canvas

# conda install pytorch cpuonly => works
# conda install pytorch 
# pytorch==1.6.0+cpu
# torchvision==0.7.0+cpu


pip install -r requirements.txt --find-links https://download.pytorch.org/whl/torch_stable.html
torch-1.7.1
torchaudio-0.7.2
torchvision-0.8.2
typing-extensions-3.7.4.3

